.inputBox {
    border: 1px solid lightgray;
}
.toast {
    font-weight: bold;
}
.flex-container {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    justify-content: center;

    /* flex-wrap: wrap; */
    border: 1px solid;
    margin-right: 20px;
    margin-left: 20px;
}
